# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# Virtual environment
venv/
ENV/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.cache/

# Migrations (optional, keep if you want to version them)
# tasks/migrations/ 